/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-custom {
    background-image: url('/images/example.webp');
    background-size: cover;
    background-position: center;
  }

  /* purge 된 색상 강제 추가가 필요함 - 강제로 감지하게 만들 색상*/
  .text-green-500, .text-blue-500, .text-red-500 { /* Tailwind가 감지하게끔 추가 */}